<launch>

<node name="$(anon offline_kitti)" pkg="patchwork" type="offline_kitti" output="screen">
<rosparam param="/algorithm">"patchwork"</rosparam> 
<rosparam param="/save_flag">false</rosparam>
<rosparam param="/use_sor_before_save">false</rosparam>
<rosparam param="/start_frame">0</rosparam> 
<rosparam param="/end_frame">10000</rosparam> 
<rosparam param="/data_path">"/media/br/kitti_odometry/dataset/sequences/00"</rosparam> 
<rosparam param="/patchwork/verbose">true</rosparam>
</node>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find patchwork)/rviz/patchwork_viz.rviz"/>

<rosparam command="load" file="$(find patchwork)/config/params.yaml" />
</launch>
